#CLOUDFLARED_TUNNEL_TOKEN=se usares cloudflare tunnel, coloca aqui o token do tunnel

#DB_DATABASE=sueca
#DB_USERNAME=root
#DB_PASSWORD=root
#DB_ROOT_PASSWORD=root

#modifique os valores conforme o seu ambiente,
#se alterar o nome das variáveis, lembre-se de alterar também no arquivo compose.yml